body {
	background-color: black;
	font-family: Mulish;
	margin:0;
}

@font-face {
	font-family: Mulish;
	src: url(Mulish-Regular.ttf);
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}


/* Navbar*/
.title {
	color: aqua;
}

button {
	margin-top: 5px;
	background-color: aqua;
	border-radius: 5px;
	border: none;
	height: 25px;
	color: black;
	padding-left: 20px;
	padding-right: 20px;
	cursor: grab;
}

@media screen and (max-width: 406px) {
  button {
    padding-bottom: 40px;
	padding-top: 7px;
  }
}

header {
	margin: 0 auto;
	max-width: 70%;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

header > ul {
	float: right;
}

 /* Dropdown*/
 .dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #272727;
  min-width: 25px;
  z-index: 1;
  border-radius: 15%;
}
.dropdown-content a {
  color: #fff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #333333;
	border-radius: 15%;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* Content*/
#input, #text {
	margin: 0 auto;
	max-width: 70%;
}

#text {
	line-height: 25px;
	text-align: justify;
	color: #fff
}

#input {
    padding-top: 70px;
}

input {
    width: 100%;
    background-color: #272727;
    color: #fff;
    border-radius: 5px;
    border: 2px solid aqua;
	outline: none;
}

#text {
	position: relative;
	top: 10px;
}

.links a {
	color: #FFF;
	display: inline-flex;
	text-decoration: none;
}

.links {
	position: fixed;
	left: 10px;
	bottom: 10px;
	width: 100%;
}
hr {
	width: 10px;
	margin-left: 0;
	color: darkgrey;
}

p {
	color: #FFF;
	margin: 0;
	display: inline;
}

#snackbar {
	visibility: hidden;
	position: fixed;
	bottom: 1px;
	left: 30%;
	width: 10%;
	background-color: #272727;
	color: #fff;
	text-align: center;
	font-size: 15px;
	white-space: nowrap;
	font-family: Mulish;
	padding: 10px;
	margin: 15%;
	border-radius: 15px;
}

#snackbar.show {
	visibility: visible; /* Show the snackbar */
}

@media screen and (max-height: 920px) {

	.links {
		padding-top: 25px;
		position: relative;
		padding-right: 100px;
		overflow: hidden;
	}
}

pre {
	white-space: pre-wrap;
	font-family: Mulish;
}