:root {
	--accent: #2ae9c9;
	--bg-color-400: #3b3b3b;
	--bg-color: #191919;
}

body {
	background-color: var(--bg-color);
	font-family: Mulish;
	margin:0;
}

@font-face {
	font-family: Mulish;
	src: url(Mulish-Regular.ttf);
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}